* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Barlow,Open Sans,Lucida Grande,Helvetica 
    Neue,Helvetica,Arial,Sans-serif;
}
li {
    display: list-item;
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
}
div {
    display: block;
}
h1 {
    font-weight: 700;
    color: #fff;
}

.app {
    display: grid;
    grid-template-rows: 58px 1fr min-content;
    height: 100vh;
}

.header {
    position: sticky;
    background: #000;
    color: #ccc;

}

.h2_popular_musicians{
    text-align: center;
}

.intro_popular{
    margin-top: 6px;
    text-align: center;
}

.footer {
    padding-top: 48px;
    background: #111;
    color: #fff;
    margin-top: 0;
}
.player-bar-artwork {
    float: left;
    margin-right: 10px;
    margin-top: 0;
}
.lastfm_logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right_nav {
    display: flex;
    float: right;
    /* max-width: 50%; */
    padding-right: 30px;
    margin: 10px;

}
.right_nav_bar {
    font-size: 18px;
    padding: 10px;

}
.link {
    color: inherit;
    text-decoration: none;
    opacity: .85;
}
.link:hover {
    color: #fff
}
.footer-top {
    padding-bottom: 48px;
    position: relative;
}
.container {
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
}
.footer-top-row {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    margin-left: -10px;
}
.footer-top-col {
    margin-top: 0;
    padding-left: 30px;
    /* position: relative; */
    display: inline-block;
}

.footer-heading {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.footer-links {
    margin-top: 0;
}
.link_footer {
    text-decoration: none;
    color: #fff;
}
.link_footer:hover {
    text-decoration: underline;
    color: #fff;
}
.header-background {
    background-image: url(../public/dashboard_header.jpg);
    background-position: 100%;
    background-size: cover;
}
.header-info {
    line-height: 30px;
    padding-left: 50px;
}
.billboard-title {
    font-size: 22px;
}
.header-billboard {
    padding-top: 42px;
}
.dashboard-intro {
    font-size: 16px;
    margin-top: 18px;
    color: #fff;
}
.dashboard-intro-2 {
    font-size: 16px;
    color: #fff;
}